default_shell "fish"

pane_frames false

theme "gruvbox-dark"

simplified_ui true

default_layout "compact"

mouse_mode true

scroll_buffer_size 10000

copy_on_select true

scrollback_editor "vim"

mirror_session false

layout_dir "~/.config/zellij/layouts"

keybinds {
    shared_except "locked" {
        bind "Ctrl Shift Enter" { NewPane; }
        bind "Ctrl Shift w" { CloseFocus; }
        bind "Ctrl Shift Left" { MoveFocus "Left"; }
        bind "Ctrl Shift Right" { MoveFocus "Right"; }
        bind "Ctrl Shift Up" { MoveFocus "Up"; }
        bind "Ctrl Shift Down" { MoveFocus "Down"; }
        bind "Ctrl Shift l" { NextSwapLayout; }
        bind "Ctrl Shift r" { SwitchToMode "resize"; }
        bind "Ctrl Shift q" { Quit; }
    }
    
    resize {
        bind "Esc" { SwitchToMode "normal"; }
        bind "Left" { Resize "Increase Left"; }
        bind "Down" { Resize "Increase Down"; }
        bind "Up" { Resize "Increase Up"; }
        bind "Right" { Resize "Increase Right"; }
        bind "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
}

themes {
    gruvbox-dark {
        fg "#ebdbb2"
        bg "#282828"
        black "#282828"
        red "#cc241d"
        green "#98971a"
        yellow "#d79921"
        blue "#458588"
        magenta "#b16286"
        cyan "#689d6a"
        white "#a89984"
        orange "#d65d0e"
    }
}
